name: Get Metrics
on:
  schedule: [{ cron: "*/5 * * * *" }]
  workflow_dispatch:
  push: { branches: ["master", "main"] }
jobs:
  github-metrics:
    name: Github metrics
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - name: Classic
        uses: lowlighter/metrics@latest
        with:
          user: hoangsvit
          filename: img/classic.svg
          optimize: svg
          experimental_features: --optimize-svg
          token: ${{ secrets.METRICS_TOKEN }}
          commits_authoring: hoangsvit
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Saigon
          plugin_lines: yes

      - name: Achievements Compact display
        uses: lowlighter/metrics@latest
        with:
          user: hoangsvit
          filename: img/achievements.compact.svg
          optimize: svg
          experimental_features: --optimize-svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_achievements: yes
          plugin_achievements_only: >-
            polyglot, stargazer, sponsor, deployer, member, maintainer, developer, scripter, packager, explorer, infographile, manager
          plugin_achievements_display: compact
          plugin_achievements_threshold: X

      - name: Recent activity
        uses: lowlighter/metrics@latest
        with:
          filename: img/activity.svg
          optimize: svg
          experimental_features: --optimize-svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_activity: yes
          # plugin_activity_limit: 5
          # plugin_activity_days: 0
          plugin_activity_filter: issue, pr, release, fork, review, ref/create
          config_timezone: Asia/Saigon

      - name: Followers
        uses: lowlighter/metrics@latest
        with:
          user: hoangsvit
          filename: img/people.followers.svg
          optimize: svg
          experimental_features: --optimize-svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_people: yes
          plugin_people_types: followers

      - name: Languages most used
        uses: lowlighter/metrics@latest
        with:
          filename: img/languages.svg
          optimize: svg
          experimental_features: --optimize-svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_languages: yes

      - name: WakaTime
        uses: lowlighter/metrics@latest
        with:
          filename: img/wakatime.svg
          optimize: svg
          experimental_features: --optimize-svg
          plugin_wakatime_days: 365
          token: NOT_NEEDED
          base: ""
          plugin_wakatime: yes
          plugin_wakatime_sections: time, projects, projects-graphs, languages, languages-graphs, editors, os
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}

      - name: LeetCode
        uses: lowlighter/metrics@latest
        with:
          filename: img/leetcode.svg
          optimize: svg
          experimental_features: --optimize-svg
          token: NOT_NEEDED
          base: ""
          plugin_leetcode_user: hoangsvit
          plugin_leetcode: yes
          plugin_leetcode_sections: solved, skills, recent

      - name: PageSpeed to eplus.dev
        uses: lowlighter/metrics@latest
        with:
          filename: img/pagespeed-eplus.dev.svg
          optimize: svg
          experimental_features: --optimize-svg
          token: NOT_NEEDED
          base: ""
          plugin_pagespeed: yes
          plugin_pagespeed_token: ${{ secrets.PAGESPEED_TOKEN }}
          plugin_pagespeed_url: https://eplus.dev
